:root {
    --cor-principal: #000000;
    --cor-fundo: #FFFFFF;
    --cor-destaque-1: #804c3f;
    --cor-destaque-2: #C79F32;
    --cor-apoio: #d4d4d4;
    --cor-suave: #f9f9f9;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.65;
    margin: 0;
    padding: 0;
    background-color: var(--cor-suave);
    color: var(--cor-principal);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--cor-destaque-1);
    color: var(--cor-fundo);
    padding: 25px 0;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2.4em;
    color: var(--cor-destaque-2);
    font-weight: 700;
}

main {
    flex-grow: 1;
    padding: 20px;
    max-width: 960px;
    margin: 30px auto;
    background-color: var(--cor-fundo);
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--cor-principal);
    border-bottom: 3px solid var(--cor-destaque-2);
    padding-bottom: 10px;
    margin: 40px 0 20px 0;
    font-size: 2em;
    font-weight: 600;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}


a {
    color: var(--cor-fundo);
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
    font-size: 1.5em;
}

a:hover, a:focus {
    color: var(--cor-apoio);
    outline: 2px solid var(--cor-destaque-2);
    outline-offset: 2px; 
    
}

nav a {
    color: var(--cor-fundo-claro);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    display: inline-block;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 4px;
}

nav a:hover {
    color: var(--cor-acento);
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.video-destaque {
    background-color: var(--cor-suave);
    padding: 25px;
    border-radius: 8px;
    margin-top: 40px;
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 25px 0;
    border: 4px solid var(--cor-apoio);
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
        

.lista-leis {
    list-style-type: none; 
    padding-left: 0;
}
        
.lista-leis li {
    background-color: var(--cor-suave);
    margin-bottom: 10px;
    padding: 15px;
    border-left: 5px solid var(--cor-destaque-1);
    border-radius: 4px;
    transition: background-color 0.3s;
}

.lista-leis li:hover {
    background-color: #f0f0f0;
}

footer p {
    text-align: center;
    margin: 0 auto; 
    width: 100%; 
    background-color:#003366;
    padding: 20px 0;
    font-size: 0.9em;
    color: var(--cor-suave);
}